:root {
    --ocean: #404BBF;
    --iris: #4D5AE5;
    --navy-blue: #2E2F42;
    --slate: #434455;
    --white: #FFF;
    --cloud: #F4F4FD;
    --cornflower: #E7E9FC;
}

/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

body {
    color: var(--slate);
    background-color: var(--white);
    font-family: 'Roboto', sans-serif;
}

.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}


/* Header */
/* Navigation */
.navigation-logo {
    color: var(--iris);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.navigation-logo-accent {
    color: var(--navy-blue);
}

.navigation {
    color: var(--navy-blue);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.navigation.link:hover,
.navigation.link:focus {
    color: var(--ocean);
}


/* Address */
.address {
    color: inherit;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.address.link:hover,
.address.link:focus {
    color: var(--ocean);
}


/* Main */
/* Default section */
.section-title {
    color: var(--navy-blue);
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.section-sub-title {
    color: var(--navy-blue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.section-description {
    color: inherit;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}


/* Hero section */
.hero {
    background-color: var(--navy-blue);
}

.hero-title {
    color: var(--white);
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 1.12px;
}

.hero-button {
    color: var(--white);
    background-color: var(--iris);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--ocean);
}


/* Team section */
.team {
    background-color: var(--cloud);
}

.team-item {
    background-color: var(--white);
}


/* Footer */
.footer {
    background-color: var(--navy-blue);
}

.footer-logo {
    color: var(--iris);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.footer-logo-accent {
    color: var(--cloud);
}

.footer-description {
    color: var(--cloud);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}